# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ActionFilterExample.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\morte\Documents\GitHub\Article-Projects\ActionFilterExample\.idea\.idea.ActionFilterExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
